:root {
  --sz-blue: #3498db;
  --sz-grey: #f9f9f9;
}

/* Buttons */
.btn-default {
  color: #ffffff !important;
  background-color: var(--sz-blue) !important;
}
.btn-white {
  color: var(--sz-blue) !important;
  background-color: #ffffff !important;
}

/* Typography */
.text-bold {
  font-weight: bold !important;
}
.text-justify {
  text-align: justify;
}
.blue-text {
  color: var(--sz-blue);
}
.nav-link.active {
  font-weight: 600 !important;
}
.nav-link {
  font-weight: 499 !important;
  padding-inline: 15px !important;
}
.jumbotron p {
  font-size: 24px;
}

/* Background */
.bg-trans {
  background-color: transparent !important;
}
.email-box {
  background-color: rgb(233, 233, 233) !important;
  /* outline: 2px solid var(--sz-blue); */
  /* border: 2px solid var(--sz-blue); */
}
.email-box:hover {
  background-color: rgb(233, 233, 233) !important;
  outline: 2px solid var(--sz-blue) !important;
  border: 2px solid var(--sz-blue) !important;
}

/* Spacing */
.p {
  padding-top: 141px !important;
  padding-right: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
}

.wrap {
  max-width: 500px !important;
}

.p-2 > .p-4 {
  background-color: var(--sz-grey);
}
/* .p-2 > .p-4:hover {
  background-color: var(--sz-blue) !important;
  color: #fff !important;
} */
.fas {
  font-size: 24px !important;
}

ol.how-it-works {
  font-size: 32px;
  font-weight: 600 !important;
}
ol.how-it-works li {
  margin-top: 0 !important;
  padding-left: 32px !important;
  margin-bottom: 64px !important;
}
ol.how-it-works li::marker {
  color: var(--sz-blue) !important;
}
ul.pricing li {
  list-style-type: none;
  margin-top: 0 !important;
  margin-bottom: 22px !important;
}
.mb-120 {
  margin-bottom: 120px !important;
}
